#DiscountCodesGridBody{
    display: grid;
    grid-template-rows: 20% 50% 30%;
    grid-template-areas:
        "DC-Row-1"
        "DC-Row-2"
        "DC-Row-3";
    justify-items: stretch;
    padding: 0 !important;
    border-radius: 1.4em;
    width: 100%;
    height: 178px;
}
.DC-item-1{
    grid-area: DC-Row-1;
    background-color: white;
}
.DC-item-2{
    grid-area: DC-Row-2;
    background-color: pink;
}
.DC-item-3{
    grid-area: DC-Row-3;
    background-color: red;
}
.DC-Content-Grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.DC-Content-Grid button{
    width: 40%;
    height: 80%
}



#testmw{
    width: 100%;
    padding: 0;
    border-radius: 1.5em;
}

#meowmw{
    padding: 0;
}

#linezero{
    margin-top: 0;
    margin-bottom: 0;
}
#br{
    margin: 0;
}