#PayHistoryPageSlip {
  ::-webkit-scrollbar {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
  }

  ::-webkit-scrollbar:vertical {
    width: 12px;
  }

  ::-webkit-scrollbar:horizontal {
    height: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 2px solid hsl(0, 0%, 100%);
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
  }

  @media only screen and (min-width: 1200px) {
    .check-section {
      width: 60%;
    }
  }

  .b-blue {
    border-left-color: var(--color3);
    border-left-style: solid;
    border-left-width: 4px;
  }

  .commission-balance {
    padding: 4px 10px;
    cursor: pointer;
  }

  .account-balance {
    padding: 8px 10px;
    cursor: pointer;
    background-color: #fff;
  }

  .account-balance-detail-fw {
    margin-top: -40px;
  }

  .account-balance-header {
    background-color: #efefef;
  }

  .check-section {
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    margin-bottom: 20px;
    border: 15px solid var(--color1);
    border-radius: 5px;

    .comp-logo {
      height: 60px;
      width: 60px;
    }

    .amount {
      border: 1px solid hsl(0, 0%, 87%);
      padding: 5px 10px;
      margin-left: 10px;
    }

    .pay-to {
      text-transform: uppercase;
      font-size: 11px;
      padding-top: 5px;
    }

    .payee-name {
      border-bottom: 1px solid hsl(0, 0%, 87%);
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .amount-word {
      border-bottom: 1px solid hsl(0, 0%, 87%);
    }

    .memo-content {
      border-bottom: 1px solid hsl(0, 0%, 87%);
      padding-bottom: 5px;
      padding-top: 5px;
    }

    .address {
      font-size: 12px;
      margin-top: 20px;
      padding-top: 10px;
    }
  }

  .check-section-mobile {
    background-color: hsl(0, 0%, 100%);
    margin: 25px auto 0 auto;
    border: 15px solid var(--color1);
    border-radius: 5px;

    .comp-logo {
      height: 60px;
      width: 60px;
    }

    .amount {
      border: 1px solid hsl(0, 0%, 87%);
      padding: 5px 10px;
      margin-left: 10px;
    }

    .pay-to {
      text-transform: uppercase;
      font-size: 11px;
      padding-top: 5px;
    }

    .payee-name {
      border-bottom: 1px solid hsl(0, 0%, 87%);
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .amount-word {
      border-bottom: 1px solid hsl(0, 0%, 87%);
    }

    .memo-content {
      border-bottom: 1px solid hsl(0, 0%, 87%);
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }

  .badge {
    padding: 4px 9px;
    background-color: hsl(0, 0%, 81%);
    border-radius: 8px;
    font-weight: normal;
    color: hsl(0, 0%, 0%);
  }

  .projected-badge {
    background-color: hsl(0, 100%, 82.4%);
  }

  .projected-check {
    border-color: hsl(0, 100%, 82.4%);
  }

  .projected-text {
    color: hsl(0, 100%, 72%) !important; /* stylelint-disable-line declaration-no-important */
  }

  .period-item {
    padding: 6px;
  }

  .custom-dp {
    .custom-dp-header {
      cursor: pointer;
    }

    .dp-head {
      padding: 17px 10px;
      color: hsl(0, 0%, 100%);
      white-space: nowrap;
      width: 12em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .dp-icon i {
      font-size: 26px;
      color: hsl(0, 0%, 100%);
    }
    /* stylelint-disable max-nesting-depth */

    .accountBalance {
      top: 65px !important; /* stylelint-disable-line declaration-no-important */
    }

    .custom-dp-body {
      position: absolute;
      top: 55px;
      border: 1px solid hsl(0, 0%, 87%);
      z-index: 3;
      background: hsl(0, 0%, 100%);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.12);

      ul {
        list-style: none;

        li {
          padding: 10px;
        }
      }
    }
  }
  /* stylelint-enable */
  .custom-dp-body-mobile {
    position: absolute;
    border: 1px solid hsl(0, 0%, 87%);
    z-index: 3;
    background: hsl(0, 0%, 100%);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.12);

    ul {
      list-style: none;

      li {
        padding: 10px;
      }
    }
  }

  #PeriodList {
    width: 235px;

    &.card {
      box-shadow: none;
    }
  }

  .period-list-mobile {
    position: absolute;
    left: 0;
    width: 100%;
  }

  .lv-title {
    font-weight: 500;
  }

  .p-l-20-p {
    padding-left: 20%;
  }

  .custom-filter {
    height: 40px;
    display: block;
    width: 100%;
  }

  .table {
    background-color: hsl(0, 0%, 96%) !important; /* stylelint-disable-line declaration-no-important */
  }

  .table > thead > tr > th {
    border-bottom: 1px solid hsl(0, 0%, 86%) !important; /* stylelint-disable-line declaration-no-important */
    background-color: hsl(0, 0%, 96%) !important; /* stylelint-disable-line declaration-no-important */
  }

  .Dateswitch {
    white-space: nowrap;
    font-size: 18px;
  }

  #MainPageForPDFExport{
    background-color: #ffffff;
    padding: 0 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2),0 2px 10px rgba(0,0,0,.12);
  }
  .pad-fr-name{
    padding: 15px !important;
  }
  #check-flex-col{
    display: flex;
    flex-direction: column;
  }
  #check-flex-row{
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    padding: 15px;
  }
  .pad-div-paycheck-info{
    padding: 15px 0 20px 0;
  }
  .pad-div-paycheck-info h2{
    font-size: 15px;
  }
  .pad-div-paycheck-info span{
    font-size: 20px;
  }
  .pad-div-paycheck-lable{
    padding-right: 5%;
  }
  .pad-div-paycheck-lable h1{
    font-size: 26px;
  }
  .pad-div-paycheck-logo{
    padding-right: 3%;
  }
  .pad-div-paycheck-logo img{
    width: 150px;
  }
  #TriggerHtmlToPDF{
    background-color: #FE91B0;
    border-radius: 0.8em;
    border: 0;
    color: #FFFFFF;
    width: 20%;
    height: 60px;
    transition: 0.4s;
    margin-top: 5%;
    margin-left: 41%;
    font-size: 24px;
  }
  #TriggerHtmlToPDF:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #fc91b0;
    color: #fc91b0;
  }
  @media print {
    #MainPageForPDFExport{
      padding: 0 !important;
      margin-left: calc(-100vw / 2 + 210mm / 2);
    }
    html, body{
      size: A4 !important;
      //padding-right: calc(-100vw / 2 + 210mm / 2);
    }
  }
  #TriggerHtmlToPDFMob{
    background-color: #FE91B0;
    border-radius: 0.8em;
    border: 0;
    color: #FFFFFF;
    width: 20%;
    height: 60px;
    transition: 0.4s;
    margin-top: 5%;
    margin-left: 41%;
    font-size: 24px;
  }
  #TriggerHtmlToPDFMob:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #fc91b0;
    color: #fc91b0;
  }
}