.inneruo {
    width: 1000%;
}
article {
    width: 10%;
    float: left;
    position: relative;
}
article img {
    width: 100%;
    margin-bottom: 25%;
}
/*---- SET UP CONTROL ----*/
.slider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.slider-prev-next-control label {
    display: none;
//visibility: hidden;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition:opacity .7s .4s, background .2s;
    transition:opacity .7s .4s, background .2s;
}
.slider-prev-next-control label:hover {
    opacity: 1;
}
.slider-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #F7D1D3 !important;
    outline: none !important;
    border-radius: 0 0 1.4em 1.4em;
    padding-bottom: 0;
}
.wrapper input{display: none;}
/*---- SET POSITION FOR SLIDE ----*/
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(6)::after, #slide6:checked ~ .slider-prev-next-control label:nth-child(7)::after, #slide7:checked ~ .slider-prev-next-control label:nth-child(8)::after, #slide8:checked ~ .slider-prev-next-control label:nth-child(9)::after, #slide9:checked ~ .slider-prev-next-control label:nth-child(10)::after, #slide10:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide6:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide7:checked ~ .slider-prev-next-control label:nth-child(6)::after, #slide8:checked ~ .slider-prev-next-control label:nth-child(7)::after, #slide9:checked ~ .slider-prev-next-control label:nth-child(8)::after, #slide10:checked ~ .slider-prev-next-control label:nth-child(9)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(10)::after{
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #fff;
}
#slide1:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide2:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(6)::after, #slide6:checked ~ .slider-prev-next-control label:nth-child(7)::after, #slide7:checked ~ .slider-prev-next-control label:nth-child(8)::after, #slide8:checked ~ .slider-prev-next-control label:nth-child(9)::after, #slide9:checked ~ .slider-prev-next-control label:nth-child(10)::after, #slide10:checked ~ .slider-prev-next-control label:nth-child(1)::after {
    content: "❯";
    padding-left: 5px;
    font-weight: initial !important;
    font-size: xx-large;
}
#slide1:checked ~ .slider-prev-next-control label:nth-child(2), #slide2:checked ~ .slider-prev-next-control label:nth-child(3), #slide3:checked ~ .slider-prev-next-control label:nth-child(4), #slide4:checked ~ .slider-prev-next-control label:nth-child(5), #slide5:checked ~ .slider-prev-next-control label:nth-child(6), #slide6:checked ~ .slider-prev-next-control label:nth-child(7), #slide7:checked ~ .slider-prev-next-control label:nth-child(8), #slide8:checked ~ .slider-prev-next-control label:nth-child(9), #slide9:checked ~ .slider-prev-next-control label:nth-child(10), #slide10:checked ~ .slider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
}
#slide2:checked ~ .slider-prev-next-control label:nth-child(1), #slide3:checked ~ .slider-prev-next-control label:nth-child(2), #slide4:checked ~ .slider-prev-next-control label:nth-child(3), #slide5:checked ~ .slider-prev-next-control label:nth-child(4), #slide6:checked ~ .slider-prev-next-control label:nth-child(5), #slide7:checked ~ .slider-prev-next-control label:nth-child(6), #slide8:checked ~ .slider-prev-next-control label:nth-child(7), #slide9:checked ~ .slider-prev-next-control label:nth-child(8), #slide10:checked ~ .slider-prev-next-control label:nth-child(9), #slide1:checked ~ .slider-prev-next-control label:nth-child(10) {
    display: block;
    float: left;
    margin-left: 5px;
}
#slide2:checked ~ .slider-prev-next-control label:nth-child(1)::after, #slide3:checked ~ .slider-prev-next-control label:nth-child(2)::after, #slide4:checked ~ .slider-prev-next-control label:nth-child(3)::after, #slide5:checked ~ .slider-prev-next-control label:nth-child(4)::after, #slide6:checked ~ .slider-prev-next-control label:nth-child(5)::after, #slide7:checked ~ .slider-prev-next-control label:nth-child(6)::after, #slide8:checked ~ .slider-prev-next-control label:nth-child(7)::after, #slide9:checked ~ .slider-prev-next-control label:nth-child(8)::after, #slide10:checked ~ .slider-prev-next-control label:nth-child(9)::after, #slide1:checked ~ .slider-prev-next-control label:nth-child(10)::after {
    content: "❮";
    padding-left: 5px;
    font-weight: initial !important;
    font-size: xx-large;
}
#slide1:checked ~ .slider-dot-control label:nth-child(1), #slide2:checked ~ .slider-dot-control label:nth-child(2), #slide3:checked ~ .slider-dot-control label:nth-child(3), #slide4:checked ~ .slider-dot-control label:nth-child(4), #slide5:checked ~ .slider-dot-control label:nth-child(5), #slide6:checked ~ .slider-dot-control label:nth-child(6), #slide7:checked ~ .slider-dot-control label:nth-child(7), #slide8:checked ~ .slider-dot-control label:nth-child(8), #slide9:checked ~ .slider-dot-control label:nth-child(9), #slide10:checked ~ .slider-dot-control label:nth-child(10) {
    background: #333;
}
#slide1:checked ~ .slider-wrapper article:nth-child(1) .info, #slide2:checked ~ .slider-wrapper article:nth-child(2) .info, #slide3:checked ~ .slider-wrapper article:nth-child(3) .info, #slide4:checked ~ .slider-wrapper article:nth-child(4) .info, #slide5:checked ~ .slider-wrapper article:nth-child(5) .info, #slide6:checked ~ .slider-wrapper article:nth-child(6) .info, #slide7:checked ~ .slider-wrapper article:nth-child(7) .info, #slide8:checked ~ .slider-wrapper article:nth-child(8) .info, #slide9:checked ~ .slider-wrapper article:nth-child(9) .info, #slide10:checked ~ .slider-wrapper article:nth-child(10) .info {
    opacity: 1;
}
#slide1:checked ~ .slider-wrapper .inneruo {
    margin-left: 0%;
}
#slide2:checked ~ .slider-wrapper .inneruo {
    margin-left: -100%;
}
#slide3:checked ~ .slider-wrapper .inneruo {
    margin-left: -200%;
}
#slide4:checked ~ .slider-wrapper .inneruo {
    margin-left: -300%;
}
#slide5:checked ~ .slider-wrapper .inneruo {
    margin-left: -400%;
}
#slide6:checked ~ .slider-wrapper .inneruo {
    margin-left: -500%;
}
#slide7:checked ~ .slider-wrapper .inneruo {
    margin-left: -600%;
}
#slide8:checked ~ .slider-wrapper .inneruo {
    margin-left: -700%;
}
#slide9:checked ~ .slider-wrapper .inneruo {
    margin-left: -800%;
}
#slide10:checked ~ .slider-wrapper .inneruo {
    margin-left: -900%;
}
#hederu{
    background-color: #F7D1D3 !important;
    font-size: 22px;
    text-align: center;
    border-radius: 1.5em 1.5em 0 0;
    padding-bottom: 0px !important;
}
#cardu{
    background-color: #F7D1D3 !important;
    border-radius: 0 0 1.4em 1.4em;
}
.infoou {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 17%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    padding: 0px 10px;
    opacity: 0.7;
    transition: 0.3s;
}
.infoou button{
    border: 0;
    text-align: center;
    background-color: #fff;
    color: #F7D1D3;
    height: 50%;
    cursor: pointer;
    font-weight: 1000;
    font-size: 15px;
    opacity: 0.88;
    transition: 0.3s;
    width: 30%;
    border-radius: 1.5em;
    margin-bottom: 3.4%;
}
.infoou textarea{
    width: 100%;
    height: 110%;
    text-size: 12px;
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    cursor: default;
    z-index: 3;
}
.infoou:hover{
    opacity: 1;
    background-color: #F5C6C3;
}
.infoou:hover button{
    opacity: 1;
    color: #F5C6C3;
}