.TwobundleOfferinneruo {
    width: 700%;
}
.TwobundleOfferinneruo article {
    width: 14.2857142857%;
    float: left;
    position: relative;
}
.TwobundleOfferinneruo article img {
    width: 100%;
    margin-bottom: 25%;
}
/*---- SET UP CONTROL ----*/
.TwobundleOfferMslider-prev-next-control {
    height: 50px;
    position: absolute;
    top: 50%;
    width: 100%;
}
.TwobundleOfferMslider-prev-next-control label {
    display: none;
//visibility: hidden;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition:opacity .7s .4s, background .2s;
    transition:opacity .7s .4s, background .2s;
}
.TwobundleOfferMslider-prev-next-control label:hover {
    opacity: 1;
}
.TwobundleOfferMslider-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(252,194,198,1) 0%, rgba(247,209,211,1) 10%);
    outline: none !important;
    border-radius: 0 0 1.4em 1.4em;
    padding-bottom: 0;
}
.TwobundleOfferwrapper input{display: none;}
/*---- SET POSITION FOR TwobundleOfferMSLIDE ----*/
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2)::after, #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3)::after, #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4)::after, #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5)::after, #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6)::after, #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7)::after, #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1)::after, #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1)::after, #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2)::after, #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3)::after, #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4)::after, #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5)::after, #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6)::after, #TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7)::after{
    line-height: 38px;
    font-size: 3em;
    display: block;
    color: #fff;
}
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2)::after, #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3)::after, #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4)::after, #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5)::after, #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6)::after, #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7)::after, #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1)::after {
    content: "❯";
    padding-left: 5px;
    font-weight: initial !important;
    font-size: xx-large;
}
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2), #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3), #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4), #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5), #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6), #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7), #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1) {
    display: block;
    float: right;
    margin-right: 5px;
}
#TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1), #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2), #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3), #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4), #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5), #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6), #TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7) {
    display: block;
    float: left;
    margin-left: 5px;
}
#TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(1)::after, #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(2)::after, #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(3)::after, #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(4)::after, #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(5)::after, #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(6)::after, #TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-prev-next-control label:nth-child(7)::after {
    content: "❮";
    padding-left: 5px;
    font-weight: initial !important;
    font-size: xx-large;
}
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(1), #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(2), #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(3), #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(4), #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(5), #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(6), #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-dot-control label:nth-child(7) {
    background: #333;
}
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(1) .info, #TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(2) .info, #TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(3) .info, #TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(4) .info, #TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(5) .info, #TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(6) .info, #TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-wrapper article:nth-child(7) .info {
    opacity: 1;
}
#TwobundleOfferMslide1:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: 0%;
}
#TwobundleOfferMslide2:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -100%;
}
#TwobundleOfferMslide3:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -200%;
}
#TwobundleOfferMslide4:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -300%;
}
#TwobundleOfferMslide5:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -400%;
}
#TwobundleOfferMslide6:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -500%;
}
#TwobundleOfferMslide7:checked ~ .TwobundleOfferMslider-wrapper .TwobundleOfferinneruo {
    margin-left: -600%;
}
.TwobundleOfferinneruo{
    transition: 0.5s;
}
#TwobundleOfferhederu{
    background: linear-gradient(0deg, rgba(247,209,211,1) 5%, rgba(252,194,198,1) 100%);
    font-size: 22px;
    text-align: center;
    border-radius: 1.5em 1.5em 0 0;
    padding-bottom: 0px !important;
}
#TwobundleOffercardu{
    background-color: #F7D1D3 !important;
    border-radius: 0 0 1.4em 1.4em;
}
.TwobundleOfferinfoou {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 17%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    padding: 0px 10px;
    opacity: 0.85;
    transition: 0.3s;
}
.TwobundleOfferinfoou textarea{
    width: 100%;
    height: 110%;
    text-size: 12px;
    border: none;
    overflow: auto;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    cursor: default;
    z-index: 3;
}
.TwobundleOfferinfoou:hover{
    opacity: 1;
}
/*------------------------------------------------------*/

.TwobundleOfferinfoou button{
    background-color: #fe91b0;
    border-radius: 0.7em;
    padding: 0 0.5em;
    border: 0;
    color: #FFFFFF;
    width: 35%;
    height: 60%;
    transition: 0.4s;
    font-size: 15px;
    margin-bottom: 2%;
}
.TwobundleOfferinfoou button:hover{
    background-color: #FFFFFF !important;
    box-shadow: 0 0 6px #fe91b0;
    color: #fe91b0 !important;
}