.CopyLinkFlex{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
}
.CopyBackground{
    background-color: #FE91B0;
    border-radius: 1.4em;
    padding: 0 0.5em;
    border: 0;
    color: #FFFFFF;
    width: 4em;
    transition: 0.4s;
}
.CopyBackground:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #fc91b0;
    color: #fc91b0;
}
.ReferralLinkTitles{
    font-size: 20px;
    font-weight: bold;
    color: #FE91B0 !important;
}
#refLinkBod{
    background-color: #FFFFFF;
    border-radius: 0 0 1.4em 1.4em;
}
.LinkContainer a{
    color: #9e9e9e;
}