.CopyLinkFlex{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0.5em;
}
.CopyBackground{
    background-color: #FE91B0;
    border-radius: 1.4em;
    padding: 0 0.5em;
    border: 0;
    color: #FFFFFF;
    width: 4em;
    transition: 0.4s;
}
.CopyBackground:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #fc91b0;
    color: #fc91b0;
}
.ReferralLinkTitles{
    font-size: 20px;
    font-weight: bold;
    color: #FE91B0 !important;
}
#refLinkBod{
    background-image: url('https://az708413.vo.msecnd.net/bombshells/resources/69eff0e0-a08c-45ab-89e1-db14d21eafac/widget-%20bg.png');
    border-radius: 0 0 1.4em 1.4em;
}
.LinkContainer a{
    color: #FFFFFF;
}