#MainDivOfTSTNP{
    background-color: transparent;
    box-shadow: none;
    z-index: 17;
    height: 177.750px;
}
#MainDivOfTSTNPCheck:checked + .MainDivOfTSTNP_Flip .MainDivOfTSTNP_Flip_Main {
    transform: rotateY(180deg);
}
#MainDivOfTSTNPCheck {
    display: none;
}
.MainDivOfTSTNP_Flip {
    background-color: transparent;
    width: 100%; /*652px;*/
    height: 100%;
    /* perspective: 1000px; */
    border-radius: 1.5em;
}
.MainDivOfTSTNP_Flip_Main {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transition-duration: 1s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 1.5em;
}
.MainDivOfTSTNP_Flip_Front {
    border-radius: 1.5em;
}
.MainDivOfTSTNP_Flip_Back {
    background-color: #FFD2CF;
    color: white;
    border-radius: 1.5em;
    transform: rotateY(180deg);
}
.MainDivOfTSTNP_Flip_Front, .MainDivOfTSTNP_Flip_Back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1.5em;
}
#NextPromotionVolume{
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 316px !important;
    height: 185px !important;
    background-image: url('https://az708413.vo.msecnd.net/bombshells/resources/8dd0e0c1-f035-4e09-8564-ba668f4cfa2e/35%20Applied%20Widget%20BGImage.png');
    background-size: cover;
    border-radius: 1.5em;
    box-shadow: 0 2px 5px rgba(0,0,0,.2),0 2px 10px rgba(0,0,0,.12);
}
#MainDivOfTSTNP_Back_Flip_Info{
    Display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 316px !important;
    height: 185px !important;
    background-image: url('https://az708413.vo.msecnd.net/bombshells/resources/d1a32e05-d482-4c61-9bc2-294350915f4f/Image%20from%20iOS%20(5).png');
    /*background-image: url('https://az708413.vo.msecnd.net/bombshells/resources/6d387f23-1924-472b-8235-afe6aa04986d/Image%20from%20iOS%20(6).png');*/
    background-size: cover;
    border-radius: 1.5em;
    box-shadow: 0 2px 5px rgba(0,0,0,.2),0 2px 10px rgba(0,0,0,.12);
    padding: 5px;
}
.NextPromotionVolumeBod{
    text-align: center;
    border-radius: 1.1em !important;
    height: 100%;
    width: 100%;
}
.NextPromotionVolumeDiv{
    padding-top: 10px;
}
.NextPromotionVolumeDiv h1{
    font-weight: 500;
    color: #ED91B5;
    font-family: "Roboto",sans-serif;
    font-size: 40px;
    display: inline;
}
.NextPromotionVolumeTitles{
    font-weight: 300;
    font-family: "Roboto",sans-serif;
    color: #fff;
    text-align: center;
    margin: 5px 15px 15px 15px;
}
.NextPromotionVolumeTitles h1{
    font-size: 22px;
}
.MainDivOfTSTNP_Button{
    height: 20%;
}
.MainDivOfTSTNP_Button button{
    background-color: #FE91B0;
    border-radius: 0.5em;
    padding: 0 0.5em;
    border: 0;
    color: #FFFFFF;
    width: 70%;
    height: 100%;
    transition: 0.4s;
    margin-bottom: 6px;
    font-size: 16px;
    box-shadow: 0 0 6px #ffffff;
}
.MainDivOfTSTNP_Button button:hover{
    background-color: #FFFFFF;
    box-shadow: 0 0 6px #fc91b0;
    color: #fc91b0;
}
#MainDivOfTSTNP_Back_Flip_Info p{
    font-size: 15px;
    text-align: center;
    color: #fe91b0;
    padding: 25px;
}
#MainDivOfTSTNP_Back_Flip_Info p span{
    color: #fe91b0;
}

#NextPromotionBlurCover{

}